/* --- Fonts --- */
@import url("https:fonts.googleapis.com/css?family=Raleway|PT+Serif:700");

/* --- Variables --- */
:root {
  --dark-blue: #14274e;
  --dark-gray: #394867;
  --light-gray: #9ba4b4;
  --off-white: #f1f6f9;
  --font-body-stack: Ralwway, Charcoal, sans-serif;
  --font-heading-stack: "PT Serif", sans-serif;
  --container-width: 768px;
}

/* --- Basic Styles --- */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: var(--container-width);
  margin: 6rem auto;
  background-color: var(--off-white);
  border-radius: 4px;
}
.quiz__title {
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-heading-stack);
}
.quiz__separator {
  height: 2px;
  width: 85%;
  background-color: #394867;
  margin: 0 auto;
  margin-top: 2rem;
}
.quiz__question-box {
  padding: 1rem 2rem;
  padding-top: 2.5rem;
  text-align: center;
}
.quiz__question {
  font-family: var(--font-heading-stack);
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}
.quiz__tracker {
  font-family: var(--font-body-stack);
  color: var(--light-gray);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.progress {
  border-radius: 4px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: var(--light-gray);
}
.progress__inner {
  height: 10px;
  width: 0%;
  background-color: var(--dark-gray);
}
.quiz__tagline {
  font-family: var(--font-body-stack);
  color: var(--light-gray);
  font-size: 1.2rem;
  padding-top: 1rem;
}

/* --- Body Styles (Choices & Radio Buttons) --- */
.quiz__choices-box {
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
}
.quiz__choices {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.quiz__choices input:checked + label {
  color: var(--light-gray);
}
.quiz__choices label i {
  background: url("../images/circle-outline.svg");
  background-size: 35px;
  height: 35px;
  width: 35px;
  display: inline-block;
  position: relative;
  top: 1px;
  left: -2px;
  margin-right: 10px;
}
.quiz__choices input:checked + label i {
  background-image: url("../images/check.svg");
}
.quiz__choices input + label i:hover,
.quiz__choices input + label span:hover {
  cursor: pointer;
}
.quiz__choice {
  min-width: 250px;
  border-radius: 4px;
  display: block;
  margin: 0.5rem auto;
  font-family: sans-serif;
  color: var(--dark-blue);
  letter-spacing: 1px;
  font-size: 0.86rem;
}
.quiz__input {
  opacity: 0;
}
.quiz__label {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Footer Styles (Next and Restart buttons) --- */
.footer {
  width: 75%;
  margin: 2rem auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.quiz__button {
  width: 49%;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  transition: 0.3s all ease;
  opacity: 0.9;
  font-weight: bold;
  background: var(--dark-gray);
  color: white;
}
.quiz__button:hover {
  cursor: pointer;
  opacity: 1;
  background: var(--light-gray);
  color: white;
}
footer {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.6rem;
  font-family: var(--font-body-stack);
}
footer a {
  text-decoration: none;
}
.quiz__icon {
  margin: 1rem;
  width: 25px;
}
